html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

hr {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid transparent;
    border-style: solid;
    border-image: linear-gradient(to right, #eaeff1, silver, #eaeff1 ) 1 100%;
    border-image-slice: 1;
}

.privaceH3 {
    font-size: 2.571428571428571rem;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.167;
}

.inputLogin {
    padding-top: 10px;
}


.redb {
    color: red;
    font-family: 'Freestyle Script';
    font-size: large;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.75rem;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background: #eaeff1;
}

.centeredPrivace {
    margin: 0 auto;
    text-align: left;
    width: 700px;
    padding-top:20px;
}
.centered {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

h1 {
    color: rgba(0,0,0,0.6);
}

h2 {
    color: rgba(0,0,0,0.6);
}

.dPrivace {
    color: #573a08;
    border: 2px;
    padding: 5%;
    box-shadow: 0 0 0 1px #c9ba9b inset, 0 0 0 0 transparent;
    border-color: black;
    margin-bottom: 10px;
    background-color: #FFFAF3;
}