html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    display: none;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.75rem;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #f6f6f6;
}

redB {
    color: red;
    font-family: 'Freestyle Script';
    font-size: large;
}

addons {
    font-family: 'Freestyle Script';
    font-size: large;
    color: navy;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: orange;
    outline: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: orange;
    }

header, footer, hgroup, nav, section {
    display: block;
}


#root {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 32px 32px;
    background: #eaeff1;
}

svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

#redbLogo {
    border-bottom: 1px solid rgba(215, 215, 215, 0.2);
    background-color: rgba(215, 215, 215, 0.1);
    background-image: url(/img/redb.png);
    height: 100px;
    cursor: pointer;
}

.contentTextIndex {
    float: left;
    height: 200px;
}

.contentTextIndexContainer {
    min-width: 700px;
}

#modal {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(200,200,200,.5);
    z-index: 1000;
    display: none;
}

/*#redbPresentFrame {
    width: 256px;*/
/*border-top: 1px solid rgba(150, 150, 150, 0.1);*/
/*align-self: flex-end;
}*/
#logout {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}


#ObjectList {
    max-height: 70vh;
}

#logout:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: orange;
}

*, *::before, *::after {
    box-sizing: inherit;
}



.splitter {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid transparent;
    border-style: solid;
    border-image: linear-gradient(to right, silver, #eaeff1 ) 1 100%;
    border-image-slice: 1;
}

.tableInfo {
    min-width: 350px;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    td

{
    display: table-cell;
    padding: 3px;
    text-align: left;
}

}

.redbHome {
    border-bottom: 1px solid rgba(215, 215, 215, 0.2);
    background-color: rgba(215, 215, 215, 0.1);
    width: 256px;
    p

{
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding-top: 10px;
}

}


.ListGroup {
    border-bottom: 1px solid rgba(215, 215, 215, 0.2);
    p

{
    margin: 0px 0px 0px 0px;
    padding-left: 16px;
    padding-top: 10px;
    font-size: 14px;
}

}

.container {
    display: contents;
    min-height: 100vh;
}



.header, footer, .paper-root {
    min-height: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.paper-root {
    font-size: 26px;
}


.footer {
    padding-left: 24px;
    padding-right: 24px;
    background: #eaeff1;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
}

.sidebar-item {
    align-items: center;
    display: inline-flex;
}

.sidebar-item-svg {
    min-width: auto;
    margin-right: 16px;
}

.sidebar {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    width: 256px;
    flex-shrink: 0;
    color: #fff;
    background-color: #18202c;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    .dx-list-item

{
    color: rgba(255, 255, 255, 0.7);
}

.dx-list-item-content {
    font-size: 12px;
    padding: 3px 9px 5px 16px;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
    background-color: rgba(130,130,130,.04);
    color: orange;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
    background-color: rgba(130,130,130,.04);
    color: orange;
}

    .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected.dx-state-hover:not(.dx-state-focused) {
        background-color: rgba(130,130,130,.04);
        color: orange;
    }


.dx-list-item.dx-state-active, .dx-list-item.dx-state-hover {
    background-color: rgba(130,130,130,.1);
    color: orange;
}
