<div class="properties">
    <div class="propertiesHeader">
        <span id="propertiesHeaderText">Item id = -0 information</span>
    </div>
    <div id="propertiesGrid" class="openRSideBar"></div>
</div>